<div ng-controller="employeerepController" ng-init="init()">
    <div class="row List">
        <h2 class="text-center">A dolgozók fogyasztása az aktuális hónapban</h2>

        <h3 class="text-center subtitle">Az összes dolgozó dolgozónkénti fogyasztása az aktuális hónapban</h3>

        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Dolgozó neve</th>
                        <th class="text-center">Fogyasztás (Ft)</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="employeereport in employeereports">

                        <td>{{employeereport.employeeName}} ({{employeereport.employeeId}})</td>
                        <td class="text-center">{{employeereport.sumPrice}}</td>


                </tbody>

            </table>
        </div>
        <div class="col-md-1"></div>

        <button class="btn btn-primary btn-md" ng-click="saveEmployeeReport()">A riport mentése fájlba</button>
    </div>
    <div class="row">
        <div class=col-md-3></div>
        <div class="col-md-6">
            <canvas id="employeeChart"></canvas>
        </div>
        <div class=col-md-3></div>
    </div>

</div>